{% extends 'base.html' %}



{% block head %}
<title>Obrigado!</title>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
{% endblock %}


{% block content %}

<div class="marketing">
<br/>
<h2>Obrigado!</h2>
<p>Clique no botão para iniciar o downlod do 1º capítulo:</p>
<br/>
<a href="https://www.dropbox.com/s/5dsbmywwew8w7fj/IRnaBolsa-Capitulo1.pdf" class="btn btn-info btn-large" target="_blank" onclick="_gaq.push(['_trackEvent', 'CTA', 'Baixe Capitulo 1', 'Download']);">Baixar 1º Capítulo Agora</a>
</div>
<br/>
<br/>
<br/>
<br/>
<div class="marketing">
<h4> Dúvidas? <a href="mailto:impostoderendanabolsa@gmail.com" target="_blank" onclick="_gaq.push(['_trackEvent', 'Email', 'Contato', 'Capitulo 1']);">Envie um email para nós!</a></h4>


</div>


{% endblock %}