  <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand pull-left" href="{% url "home" %}" onclick="_gaq.push(['_trackEvent', 'Home', 'Link', 'Navbar']);">Imposto de Renda na Bolsa</a>
          <div class="nav-collapse collapse pull-right">
            <ul class="nav">
              <li class="active">
                <a href="{% url "home" %}" onclick="_gaq.push(['_trackEvent', 'Home', 'Link', 'Navbar']);">Guia do IR</a>
              </li>
              <li class="active">
                <a href="{% url "duvidas" %}">Dúvidas Sobre IR</a>
              </li>
              <li class="active">
                <a href="mailto:impostoderendanabolsa@gmail.com" target="_blank" onclick="_gaq.push(['_trackEvent', 'Email', 'Contato', 'Navbar']);">Contato</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>